<mat-toolbar class="app-header">
  <div class="container">
    <div class="logo">My TODO List</div>
    <nav>
      <ul class="nav-list">
        <li class="nav-item">
          <a
            mat-button
            routerLink="/add"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            ADD
          </a>
        </li>
        <li class="nav-item">
          <a
            mat-button
            routerLink="/list"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            LIST
          </a>
        </li>
        <li class="nav-item">
          <a
            mat-button
            routerLink="/favorite"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            FAVORITE TODO LIST
          </a>
        </li>
      </ul>
    </nav>
  </div>
</mat-toolbar>
